@font-face { font-family: 'Abram'; src: url('../../font/Abram.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Anselmo'; src: url('../../font/Anselmo.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Benvolio'; src: url('../../font/Benvolio.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Capuletty'; src: url('../../font/Capuletty.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Djiovanni'; src: url('../../font/Djiovanni.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Eskal'; src: url('../../font/Eskal.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Gregory'; src: url('../../font/Gregory.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Lexa'; src: url('../../font/Lexa.otf') format('opentype'); font-display: swap; }
@font-face { font-family: 'Lorenco'; src: url('../../font/Lorenco.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Montekky'; src: url('../../font/Montekky.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Pacifico'; src: url('../../font/Pacifico-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Pag'; src: url('../../font/Pag.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Paris'; src: url('../../font/Paris.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Salavat'; src: url('../../font/Salavat.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Samson'; src: url('../../font/Samson.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Stefano'; src: url('../../font/Stefano.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'AmaticSC'; src: url('../../font/AmaticSC-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BadScript'; src: url('../../font/BadScript-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'BalsamiqSans'; src: url('../../font/BalsamiqSans-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Bellota'; src: url('../../font/Bellota-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Caveat'; src: url('../../font/Caveat[wght].ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Comforter'; src: url('../../font/Comforter-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'GreatVibes'; src: url('../../font/GreatVibes-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Lobster'; src: url('../../font/Lobster-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'MarckScript'; src: url('../../font/MarckScript-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Neucha'; src: url('../../font/Neucha.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Pangolin'; src: url('../../font/Pangolin-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Pattaya'; src: url('../../font/Pattaya-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'ShantellSans'; src: url('../../font/ShantellSans[BNCE,INFM,SPAC,wght].ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Sriracha'; src: url('../../font/Sriracha-Regular.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'Underdog'; src: url('../../font/Underdog-Regular.ttf') format('truetype'); font-display: swap; }
